.threads {
    border: 3px solid;
    max-width: 1280px;
    margin: 0 auto;
}


.threads .title {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-bottom: 1px solid;
    padding: 12px 18px;
    transition: background-color 0.5s;
}

.threads .title:hover {
    background-color: rgba(2, 255, 255, 0.548);

}


.threads .title:last-child {
    border-bottom: none;
}