.threads {
    border: none;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.threads .title {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-bottom: 1px solid;
    padding: 12px 18px;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.threads .title:hover {
    background-color: rgba(2, 255, 255, 0.548);

}


.threads .title:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.pages {
    font-size: 20px;
}

.pagesButton {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.pagesButton button {
    font-size: 20px;
}

.latestButton {
    font-size: 20px;
    margin-bottom: 20px;
}